@import "tailwindcss";

@theme {
  --color-origamid: #a8f;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  --animate-slideOut: slideOut 0.5s ease-in-out forwards;
  @keyframes slideOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(150px);
      opacity: 0;
    }
  }
}

@layer components {
  .btn {
    @apply bg-lime-200 border-2 border-lime-400 text-lime-900 py-2 px-4 rounded-full hover:bg-lime-400 hover:text-lime-950;
  }
}

@utility text-sombra {
  text-shadow: 1px 1px #000;
  font-size: 2rem;
}
